<h1>Most Used Social Networks</h1>
<hr>

<div *ngIf="doughnutChartData.length === 0; else divGraphic" 
    class="alert alert-info">
    Loading...
</div>

<div class="row">
    <div class="col">

        <ng-template #divGraphic>
            <div style="display: block">
                <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    chartType="doughnut"
                    [colors]="colors">
                </canvas>
            </div>
            
            <span class="float-end text-primary">Information in billions of users</span>

        </ng-template>

    </div>
</div>